.parent {
  background-image: url("./images/hero.png");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.part-one {
  display: flex;
  align-items: center;
  gap: 20px;
}

.part-two {
  display: flex;
  align-items: center;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  transform: translateY(-50%);
}

.child-one {
  min-width: 200px;
  min-height: 200px;
  background-color: azure;
}

.child-two {
  width: 200px;
  height: 100px;
  background-color: azure;
}

.child-three {
  width: 200px;
  height: 100px;
  background-color: azure;
}
